@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #038c7f;
  --color-secondary: #f2c641;

  --color-tertiary-dark: #f27405;
  --color-tertiary-light: #f2c641;

  --font-poppins: var(--font-poppins), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.img {
  @apply object-cover w-full h-full;
}

.scale-animation {
  @apply hover:scale-125 transition-all duration-1000;
}

.btn-primary {
  @apply px-6 md:px-[50px] lg:px-[72px] py-2 md:py-5 bg-primary rounded-lg md:rounded-2xl shadow-xs shadow-primary text-white font-bold text-base md:text-xl hover:scale-110 duration-300 transition-all;
}

.btn-tertiary {
  @apply px-6 md:px-[50px] lg:px-[72px] py-2 md:py-5 bg-tertiary-light rounded-lg md:rounded-2xl shadow-xs shadow-tertiary-light text-white font-bold text-base md:text-xl hover:scale-110 duration-300 transition-all;
}

.font-heading {
  @apply font-medium md:font-semibold md:text-6xl text-3xl;
}

.font-normal {
  @apply text-sm md:text-base;
}
